
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.titleproject {
  color: #FFB6C1;
  font-weight: bold;
  padding-top: 50px;

}

body {
  background-color: #ff613c;
}

.signingin{
  padding-top: 50px;
  color: black;
  font-weight: bold;
}

.signingup{
  padding-top: 50px;
  color: black;
  font-weight: bold;
}

.doughboy {
  padding-top: 100px;
  border-radius: 100px;
  border-top: 100px;
}

.recipetitles {
  color: white;
}

.titleofingredients {
  color: black;
}

.form-group {
  padding-left: 60px;
}

.columntitles {
  padding-left: 100px;
}

.currentquantitycolor {
  color: black;
  font-weight: bolder;
}

.list-group-item {
  background-color: wheat;
}
